
* {
  box-sizing: border-box;
}

.box_item {
  background-color: #000;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto repeat(5, 1fr);
  gap: 8px;

  width: 100%;
  height: 100%;
  padding: 15px;
}

/* Display */
.input {
  grid-column: 1 / -1;
  background: #000;
  color: #fff;
  font-size: 2rem;
  padding: 10px;
  border: none;
  border-radius: 8px;
}

/* Botones */
.box_item button {
  width: 100%;
  height: 100%;
  font-size: 1.4rem;
  border-radius: 50px;
  border: none;
  background-color: #888;
  color: #fff;
}

.btd_op {
  background-color: #666;
}

.btd {
  background-color: #f99e42;
}

.img {
  width: 24px;
}

/* Desktop */
@media (min-width: 768px) {
  .box_item {
    width: 320px;
    height: 520px;
    border-radius: 15px;
  }
}
