.calc {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto repeat(5, 1fr);
    gap: .5rem;
    background: #000;
  }

  .display {
    grid-column: 1 / -1;
    font-size: 2rem;
    background: #000;
    color: #fff;
    border: none;
    padding: .75rem;
  }

  .calc button {
    font-size: 1.3rem;
    border-radius: 50px;
  }

  /* Landscape: botones más bajos */
  @media (orientation: landscape) {
    .calc button {
      font-size: 1.1rem;
    }
  }
