
    body{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        font-family: sans-serif;
    }

    .box_containt{
        display: flex;
        justify-content: center;
        align-content: center;
        margin-top: 10rem;

        & .box_item{
            background-color: #000;
            display: grid;
            grid-template-columns: repeat(4,1fr);
            grid-template-rows: repeat(6,1fr);
            gap: 3px;
            width: 12rem;
            height: 20rem;
            border: 1px solid #000;
            border-radius: 10px;
            padding: 13px;
            box-shadow:  0 0 3px 0;


            & .input{
            background-color: #000;
            color: #fff;
            grid-column: 1/5;
            border-radius: 7px;
            border: none;
            margin: 15px;
            box-shadow:  0 0 1px0;
        }


            & button{
                max-width: 45px ;
                max-height: 44px;
                border-radius: 34px;
                background-color: #888;
                color: #fff;
                font-size: 1.2rem;
                border: none;
            }

            & .btd_op{
                background-color: #666;
            }

            & .btd{
                background-color: #f99e42;
            }
        }

    }


    .img{
        margin: auto;
        max-width: 20px;
        max-height: 23px;
    }


